.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.login-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
}

.help {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help a {
    color: #0046c7;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2%;
}

.help a:hover {
    color: #02375e;
    text-decoration: underline;
}