.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #075186;
    width: 25%;
    margin: 0 auto;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
}

.login-form-group h1 {
    margin: 0;
}

.login-form-help {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    flex-direction: column;
}

.login-form-help p{ 
    margin: 0;
}

.login-form-group input {
    width: 100%;
    background: #064171;
    color: white;
}

.login-form-group input::placeholder {
    color: rgb(4, 111, 210);
    opacity: 1; /* Para asegurarte de que no se vea transparente */
}

.help {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help a {
    color: #2e75f9;
    text-decoration: none;
    font-size: 16px;
    margin-top: 2%;
}

.help a:hover {
    color: #002845;
    text-decoration: underline;
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait) {
    .login-form { width: 45%; } 
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: landscape) {
    .header{ height: 7vh; }
    .login-form { width: 40%; } 
    .login-form-group h1 { font-size: 22px; gap: 0.01rem; }
}

@media screen and (max-width: 426px) and (orientation: portrait) {
    .login-form { width: 70%; } 
    .login-form-group h1 { font-size: 35px; }
}

@media screen and (max-width: 426px) and (orientation: landscape) {
    .login-form { width: 50%; } 
    .login-form-group h1 { font-size: 25px; }
    .login-form-group button { font-size: 5px; }
}