#taskForm{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #075186;
    padding: 2rem;
    border-radius: 5%;
    gap: 1rem;
}

.task-img-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.task{
    margin-left: auto;
    width: 15%;
    border-radius: 15%;
}

#title{
    margin-left: 1%;
    margin-right: auto;
}

.adjust{
    margin-top: 10vh;
}

label{
    font-size: 35px;
}

#developers{
    width: 100%;
    font-size: 20px;
    background-color: rgb(9, 85, 185);
    color: #ffffff;
    border-radius: 5% / 40%;
    padding-left: 2%;
    border: 1px solid #003060;
}

input{
    font-size: 20px;
    width: 40%;
    background-color: rgb(9, 85, 185);
    color: #ffffff;
    border-radius: 5% / 40%;
    padding-left: 2%;
    border: 1px solid #003060;
}

input:focus, select:focus {
    border-color: #0969da;
    outline: none;
    box-shadow: 0 0 0 3px rgba(9, 105, 218, 0.3);
}

.warning{
    background-color: #b5bc02;
    color: #f6ff00;
}

@media screen and (max-width: 769px) and (min-width: 426px) and (orientation: portrait) {
    .task { width: 13%; }
    #taskForm { width: 75%; }
    #taskForm button { width: 60%; font-size: 18px; margin: auto; }
    #Taskname { width: 95%; }
    #time { width: 95%; }
}

@media screen and (max-width: 769px) and (min-width: 426px) and (orientation: landscape) {
    .task { width: 13%; }
    #taskForm { width: 75%; }
    #taskForm button { width: 60%; font-size: 18px; margin: auto; }
}

@media screen and (max-width: 426px) and (orientation: portrait) {
    .header{ height: 9vh; }
    .task-img-header { margin-bottom: 5%; }
    #title { font-size: 30px; }
    #taskForm { width: 75%; }
    .task{ width: 10%; }
    #taskForm button { width: 100%; font-size: 18px; margin: auto; }
    .input-group { flex-direction: column; }
}