.dashboard{
    display: flex;
    flex-direction: column;
}

.clean{
    margin-top: 5%;
    background-color: rgb(9, 85, 185);
    margin: 2% auto;
    width: 30%;
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait) {
    .clean{ font-size: 30px; }
    .header{ height: 10vh; }
    .dashboard{ height: 100vh; margin: 30% 0% 20% 0%}
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: landscape) {
    .clean{ font-size: 30px; }
    .header{ height: 10vh; }
    .dashboard{ height: 100vh; margin-top: 5%;}
}

@media screen and (max-width: 1025px) {
    .header{ height: 10vh;}
}