.shell-container {
  background-color: #1e1e1e;
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  height: 90vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #0f0;
  display: flex;
  flex-direction: column;
}

.shell-line {
  line-height: 1.5;
  padding-left: 5px;
  white-space: pre-wrap;
}

.shell-path {
  color: rgb(255, 247, 0);
  font-weight: bold;
}

.shell-dir {
  color: #338bff;
}

.shell-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border-radius: 3px;
  padding-left: 0;
  width: 100%;
}

.folder {
  color: #c792ea; /* Morado */
  font-weight: bold;
}

.file {
  color: #7ee787; /* Verde suave */
}

/* Scrollbar styling */
.shell-container::-webkit-scrollbar {
  width: 8px;
}

.shell-container::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.shell-container::-webkit-scrollbar-thumb {
  background-color: #33ff33;
  border-radius: 10px;
}

.shell-line div{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait) {
  .shell-path { font-size: 1.1rem; }
  .shell-dir { font-size: 1.1rem; }
  .shell-input { font-size: 1.1rem; }
  .shell-line { font-size: 1.1rem; }
  .shell-container { height: 100vh; margin-top: 5%; }
  .shell-container div { font-size: 1.1rem; }
  pre b { font-size: 1.1rem; }
  .footer{ height: 7vh;}
}

@media screen and (max-width: 940px) and (min-width: 769px) and (orientation: landscape){
  .shell-container { position: relative; top: 3vh; height: 65vh; }
  .footer{ height: 7vh; }
}

@media screen and (max-width: 426px) {
  .shell-container { top: 3vh; height: 65vh; } 
}