.task-card {
    background-color: #ffffff49;
    border-radius: 6px;
    padding: 6px;
    margin: 4px 4px 15px 4px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    transition: all 0.3s ease;
}

.task-card:active {
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
}

.task-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}


.task-card-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    height: 10%;
}

.task-card-header h2{
    top: 0vh;
    margin-bottom: 5%;
}

.task-card-footer{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.delete{
    margin: 2%;
    padding: 15% 5%;
    font-size: smaller;
    background-color: rgb(154, 25, 25);
}

.pen{
    width: 100%;
    border-radius: 15%;
    margin: 2%;
}

.arrow{
    background-color: rgba(68, 160, 226, 0);;
}