.header{ margin-bottom: 0;}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 800px;
    text-align: center;
}

.welcome{
    margin-top: 0%;
    font-size: 35px;
}

.description {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #042b51;
    background-color: #0055a9;
    padding: 3%;
    border-radius: 3% / 20%;
}

.features-list {
    text-align: center;
    margin: 1rem 0rem 0rem 13rem;
    padding: 0;
    list-style: none;
    max-width: 600px;
}

.features-list li {
    margin: 0.5rem 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.home-button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: rgb(9, 85, 185);;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.home-secondary {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  
@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait){
    h1{ font-size: 0.5rem; }
    .home-container{ margin: 0% 5% 0% 5%; }
    .description { font-size: 1.2rem; }
    .features-list { 
        margin: 0;
        margin-left: 24%;
        width: 70%;
    }
    .features-list li { 
        position: relative;
        right: 20%;
        margin: 0.5rem 0rem 0.5rem 0;
        font-size: 1.2rem;
    }
    .home-button{ font-size: 1.2em; }
    .home-secondary{ font-size: 1.2em; }
    .header{ height: 5vh; }
}

@media screen and (max-width: 940px) and (max-height: 426px) and (orientation: landscape){
    .header{ height: 16vh; }
    .features-list{ margin-top: 3rem }
    .home-actions { margin-top: 4rem;}
}

@media screen and (max-width: 769px) and (min-width: 427px) and (orientation: portrait){
    .header{ height: 3vh; }
    .welcome{ margin-top: 15%; }
    .description { margin-top: 10%; }
    .features-list{ 
        margin-left: 24%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 70%;
    }
    .home-actions { margin-top: 4rem;}
}

@media screen and (max-width: 426px) and (orientation: portrait) {
    .header{ height: 7vh; }
    .header div { width: 33%; }
    .header div img{ width: 45%; }
    .welcome{ margin-top: 5%; margin-right: 3%; font-size: 23px;}
    .description{margin-right: 5%; margin-left: 5%;}
    .features-list{margin: 2rem 0.7rem 2rem 0.7rem;}
    .home-actions { flex-direction: column; }
    .home-button { width: 55%; margin-left: auto; margin-right: auto; }
    .home-secondary { width: 55%; margin-left: auto; margin-right: auto; }
    .footer h3 { top: -1vh; }
    .to-github { width: 15%; margin-right: 3%;}
}

@media screen and (max-width: 769px) and (min-width: 427px) and (orientation: landscape){
    .header{ height: 13vh; }
    .welcome{ margin-top: 15%; }
    .description { margin-top: 10%; }
    .features-list{ 
        margin-left: 24%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 70%;
    }
    .home-actions { margin-top: 4rem;}
}
