.header-kanban {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.to-do{
    width: 24%;
    background-color: #00d262;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: center;
}

.progress{
    width: 24%;
    background-color: #b3d200;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: center;
}

.review{
    width: 24%;
    background-color: #0070ac;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: center;
}

.done{
    width: 24%;
    background-color: #7700d2;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: center;
}

.kanban-section{
    display: flex;
    flex-direction: column;
    height: 56vh;
}

.task-card {
    background-color: #2fb901b0;
    border-radius: 6px;
    padding: 6px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.task-card * {
    margin: 0;
    padding: 0;
}
