.kanban{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header-kanban {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  width: 95%;
}

.header-buttton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.kanban-button {
    background-color: #477e35b0;
    border-radius: 6px;
    font-size: 2em;
    padding: 2% 5% 3% 5%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.to-do {
    width: 24%;
    background-color: #00d262;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: flex-start;
    border: 5px solid #00d262;
}

.progress {
    width: 24%;
    background-color: #b3d200;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: flex-start;
    border: 5px solid #b3d200;
}

.review {
    width: 24%;
    background-color: #0070ac;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: flex-start;
    border: 5px solid #0070ac;
}

.done {
    width: 24%;
    background-color: #7700d2;
    border-radius: 10%;
    padding: 1%;
    margin: 0.3%;
    justify-content: flex-start;
    border: 5px solid #7700d2;
}

.kanban-section {
    display: flex;
    flex-direction: column;
    height: 56vh;
    overflow-y: hidden;
    padding: 0% 2% 2% 2%;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
}

.kanban-section-header {
    position: relative;
    top: 0%;
    font-size: 2.5em;
}

.task-card {
    background-color: #2fb901b0;
    border-radius: 6px;
    padding: 6px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.task-card * {
    margin: 0;
    padding: 0;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modal {
    background: rgb(0, 111, 189);
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-buttons button {
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}
  
.delete-modal {
    background-color: rgb(141, 33, 33);
}

.cancel {
    background-color: rgb(0, 189, 82);
}

/* Scroll personalizado */
.tasks {
    overflow-y: auto; /* Habilitar el scroll vertical */
    max-height: 500px; /* Definir la altura máxima de la sección, ajusta según tus necesidades */
    padding-right: 10px; /* Espacio para la barra de desplazamiento */
}

/* Estilo para el track de la barra de desplazamiento */
.tasks::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "thumb" de la barra de desplazamiento */
.tasks::-webkit-scrollbar-thumb {
    background-color: #0070ac; /* Color del thumb, puedes cambiarlo por lo que prefieras */
    border-radius: 4px; /* Bordes redondeados para el thumb */
}

/* Estilo cuando el thumb está en hover */
.tasks::-webkit-scrollbar-thumb:hover {
    background-color: #005b8c; /* Cambio de color cuando el thumb es hoverizado */
}

/* Estilo para el track de la scrollbar */
.tasks::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del track */
    border-radius: 4px; /* Bordes redondeados para el track */
}



@media screen and (max-width: 940px) and (orientation: landscape) {
    .kanban-section-header { font-size: 1.5rem; }
    .kanban-section { padding-bottom: 0; }
    .task-card { font-size: 10px; }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait) {
    .header-kanban { flex-direction: column; }
    .kanban-section { width: 70%; margin-top: 5%;}
    .arrow { width: 54%; position: relative; left: 25%; margin: 2%; transform: rotate(90deg); }
}

@media screen and (max-width: 426px) and (orientation: portrait) {
    .header-kanban { flex-direction: column; }
    .kanban-section { width: 80%; margin-bottom: 5%; }
    .tasks { width: 97%; }
    .task-card-footer { width: 10%; }
    .modal-backdrop { padding-left: 5%; padding-right: 5%; }
    .arrow { width: 100%; transform: rotate(90deg); margin-top: 30%; }
    .to-github{ width: 10%; margin-right: 3%; margin-top: 3%;}
}