.dashboard{
    margin: auto;
}

table{
    margin: 0 auto;
}

.operations{
    position: relative;
    left: 8%;
}

.spaced{
    margin: 2%;
}

.warning{
    background-color: #b5bc02;
    color: #f6ff00;
}

.danger{
    background-color: #990000;
    color: #e80000;
}

.clean{
    margin-top: 5%;
    background-color: rgb(9, 85, 185);
}