.header{
    position: sticky;
    top: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 15vh;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 0vh;
    margin-bottom: 2%;
    width: 100%;
    padding: auto;
    background: linear-gradient(#077ccf 95%, #00000000);
    z-index: 10000000000;
}

.header div {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header div img:hover {
    filter: brightness(85%);
    box-shadow: 2px 2px 16px 16px rgb(0, 247, 255);
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.house{
    position: relative;
    border-radius: 20%;
    width: 25%;
}

.team {
    position: relative;
    border-radius: 20%;
    width: 25%;
}

.code {
    position: relative;
    border-radius: 20%;
    width: 25%;
}