.project-dashboard{
    display: flex;
    flex-direction: column;
}

.project-dashboard h1{
    margin: 1% auto;
}

.project-dashboard h2{
    margin: 0 auto;
}

table{
    margin: 0 auto;
    padding: 3% 7% 3% 3%;
    background-color: #005499;
    border-radius: 3% / 10%;
    border-spacing: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

tbody{
    margin-top: 5%;
}

tbody div{
    position: relative;
    left: 15%;
}

td, th{
    padding: 10px;
}

.operations-project{
    position: relative;
    left: 15%;
    width: 100px;
}

.warning{
    background-color: #b5bc02;
    color: #f6ff00;
}

.danger{
    background-color: #990000;
    color: #e80000;
}

.success{
    background-color: #2e9900;
    color: #1fe800;
}

.clean-project{
    margin-top: 5%;
    background-color: rgb(9, 85, 185);
    margin: 2% auto;
    width: 73%;
}

.btn{
    color: #e2e1e1;
    font-size: 20px;
}

.not-found{
    width: 30%;
    margin: auto;
    border-radius: 5%;
}

.project-list { display: none; }

@media screen and (max-width: 1025px) and (min-width: 769px){
    table { width: 90%; padding: 0% 1% 0% 0% !important; }
    thead { font-size: 20px; }
    tbody { font-size: 18px; }
    td { padding: 2% !important; }
    .tools { left: 0%; }
    .tools td button { font-size: 16px; }
    .operations-project{ left: -2%; }
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait) {
    .operations-project{ left: 7%; }
    .header { height: 6vh; }
    table { margin: 2%; }
}

@media screen and (max-width: 940px) and (max-height: 768px) and (orientation: landscape) {
    .operations-project{ left: 4%; }
}

@media screen and (max-width: 426px) and (orientation: portrait) {
    .header { padding-bottom: 5% !important; }
    .project-list { display: flex; flex-direction: column; }
    .project-item span { display: flex; flex-direction: row; justify-content: space-between; width: 90%; }
    .project-item span p { margin: 1%; }
    .project-item button { margin: 1%; }
}