.signup-header {
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 0%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    background-color: #075186;
    margin: 0 auto;
    padding: 1.3rem;
    border-radius: 5%;
}

.signup-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
    gap: 1rem;
}

.signup-form-group h1 {
    margin: 0;
    font-size: 30px;
}

.signup-form-group label{
    font-size: 15px;
}

input {
    padding: 10px;
    font-size: 16px;
    background: #064171;
    width: 90%;
}

input::placeholder {
    color: rgb(4, 111, 210);
    opacity: 1; /* Para asegurarte de que no se vea transparente */
}

.signup-btn {
    font-size: 20px;
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: portrait) {
    .signup-form {
        width: 45%;
    } 
}

@media screen and (max-width: 768px) and (min-width: 426px) and (orientation: landscape) {
    .signup-form {
        width: 45%;
    } 
}

@media screen and (max-width: 426px) and (orientation: portrait) {
    .signup-form { width: 70%; } 
    .signup-form-group h1 { font-size: 35px; }
}

@media screen and (max-width: 426px) and (orientation: landscape) {
    .signup-form { width: 50%; } 
    .signup-form-group h1 { font-size: 25px; }
    .signup-form-group button { font-size: 5px; }
}